
<!--

Panel name: "KeyNotReadyPanel"

Panel note: Shown when no codes are selected in references.
Display a message telling the user that no codes are selected.


This is one of a group of 2 panels displayed when the "Key" button is clicked.

This panel is just 1 in a group of 2 panels.
Your other panel in this group is

  * The tab bar <div #tabsMasterView_home_pad_KeyButton_KeyReadyPanel_tab_bar
  * But the panel is a tab bar so you won't be adding any content there.

-->

<p>You haven't selected any codes that you want to Key yet.</p>
