
<!--

Panel name: "KeyTestPanel"

Panel note: A page to let the user Key and record the results to the repo.

This panel is displayed when the "Test" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<h3 id="keyTestH"></h3>
<p id="keyTestP">
    <button id="keyTestStart">Start</button>
    <button id="keyTestCheck" class="unseen">Check</button>
</p>
<div id="keyTestKey" class="user-not-keying resize-me-width"></div>
<div id="keyTestCopy" class="resize-me-width"></div>
