
<!--

Panel name: "CopyPracticePanel"

Panel note: A page to let the user copy without recording the results to the repo.

This panel is displayed when the "Practice" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p>
    <button id="copyPracticeStart">Start</button>
    <button id="copyPracticeCheck" class="unseen">Check</button>
</p>
<textarea id="copyPracticeCopy" class="resize-me-width"></textarea>
<div id="copyPracticeText" class="resize-me-width"></div>

