
<!--

Panel name: "CopyWPMPanel"

Panel note: Let the user select the words per miniute for copying.

This panel is displayed when the "WPM" tab button is clicked.

This panel is the only panel in it's panel group.

-->

<p>
  <label for="copyWPM">WPM</label>
  <select id="copyWPM">
    <option value="5">5</options>
    <option value="10">10</options>
    <option value="15">15</options>
    <option value="20">20</options>
    <option value="25">25</options>
    <option value="30">30</options>
    <option value="35">35</options>
  </select>
</p>

