
<!--

Panel name: "KeyPracticePanel"

Panel note: A page to let the user Key without recording the results to the repo.

This panel is displayed when the "Practice" tab button is clicked.

This panel is the only panel in it's panel group.

-->
<h3 id="keyPracticeH"></h3>
<p id="keyPracticeP">
    <button id="keyPracticeStart">Start</button>
    <button id="keyPracticeCheck" class="unseen">Check</button>
</p>
<div id="keyPracticeKey" class="resize-me-width"></div>
<div id="keyPracticeCopy" class="resize-me-width"></div>

